:root {
  --primary-color: #d482a7;
  --secondary-color: #e7d7c9;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
  color: var(--primary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  padding: 15px 20px;
  line-height: 27px;
  font-size: 18px;
}
