:root {
  --primary-color: #e5c1cd;
  --secondary-color: #b6b4c2;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lora", serif;
}

.hero {
  background-image: url("images/background2.png");
  background-image: cover;
  text-align: center;
  padding: 160px 0;
  color: black;
  font-family: var(--secondary-font);
}

.hero h1 {
  font-family: var(--primary-font);
}

.btn-branding {
  background-color: #f3dbcf;
  border-radius: 4px;
  color: var(--secondary-color);
  padding: 15px 20px;
  line-height: 27px;
  font-size: 18px;
}
